<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--
<div class="container">
<div class="row">
  <div class="col-md-3" *ngFor="let item of products" style="width: 18rem;">
      <div class="card" *ngIf="item.isAvailable" style="width: 20rem;height: 40rem">
          <img class="card-img-top" [src]="item.image" alt="Card image cap"  height="300px">
          <div class="card-body">
            <h5 class="card-title">{{item.name|uppercase}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">${{item.price}}</p>
          
          </div>
        </div>
  </div>
  <div class="col-md-3">
      <div class="card" style="width: 20rem;height: 30rem">
          <img class="card-img-top" src="./../assets/images/comb.jfif" alt="Card image cap"  height="300px">
          <span class="card-body">
            <h5 class="card-title">combs</h5>
            <p class="card-text">high quality combs @2000 grab now </p>
            <a href="#" class="btn btn-primary">buy now</a>
          </span>
        </div>
  </div> -->
  <!-- <div class="col-md-3">
      <div class="card" style="width: 20rem;height: 30rem">
          <img class="card-img-top" src="./../assets/images/watch.jpg" alt="Card image cap"  height="300px">
          <span class="card-body">
            <h5 class="card-title">daniel watches @1000 off/-</h5>
            <p class="card-text">make your own style</p>
            <a href="#" class="btn btn-primary">buy now</a>
          </span>
        </div>
  </div>
  <div class="col-md-3">
      <div class="card" style="width: 20rem;height: 30rem">
          <img class="card-img-top" width="208px" src="./../assets/images/bag.jpg" alt="Card image cap"  height="300px">
          <span class="card-body">
            <h5 class="card-title">bags</h5>
            <p class="card-text"> starting @ 10000</p>
            <a href="#" class="btn btn-primary">buy now</a>
          </span>
        </div>
  </div>
  <div class="col-md-3">
      <div class="card" style="width: 20rem;height: 30rem">
          <img class="card-img-top"  src="./../assets/images/wallet.jpeg" alt="Card image cap" width="90px" height="300px" >
          <span class="card-body">
            <h5 class="card-title">bags</h5>
            <p class="card-text"> starting @ 10000</p>
            <a href="#" class="btn btn-primary">buy now</a>
          </span>
        </div>
  </div> -->
<!--</div>
</div>
<footer>
  @copyright
</footer>-->